/*common class*/
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*header design*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    text-align: center;
    margin:0 auto;
}
.logo{
    display: flex;
    padding: 0 5px;
    align-items: center;

}
.logo img{
    width: 3rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin-right: 20px;

}
.logo-title{
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
}
.g-color{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav{
    display: flex;
}
.nav p{
    padding: 10px;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
}
.follow{
    background: rgba(11, 2, 35, 0.10);;
}
    /*main section starts*/
    main{
        
    }

/*banner section*/
.banner{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}
.banner-content{
    background-image: url("Group\ 14.png");
    width: 80%;
    background-size: 35rem 30rem;
    padding-bottom: 6rem;
    background-repeat: no-repeat;
}

.play-like-the{
    color: #0B0223;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase; 
    margin-bottom: 0px;
   
}
.goat{
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-contert p{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}
.btn-primary{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    gap: 10px;
    border-radius: 3rem;
    background: #FF42A5;
}
.btn-secondary{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    gap: 10px;
    border-radius: 3rem;
    background: #4EC5F7;
}
.banner-img img{
    height: 450px;
    width: auto;    
}
/*banner section ends*/
/*online game section starts*/
.online-game{
    width: 80%;
    margin: 60px auto;
}
.online-game-title{
    color: #0B0223;
    text-align: center;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;

}
.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.online-game-para{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 0px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    
}
.card-container .card{
    width:260px;
    height: auto;
}
.card-container .card img{
    width:260px;
}
.card{
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: .5;
  }
  .watch-now {
    position: absolute;
    bottom: 60%;
    right: 30%;
    padding: 8px 16px;
    color: #ee0d89;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .watch-now {
    opacity: .8;
  }
  
  
/*play instantly starts*/
.play-instantly{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.play-instantly-content{
    margin-left: 6.25rem;
}
.play-instantly-title1{
    
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}
.play-instantly-title2{
    color: #0B0223;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
}
.play-instantly-para{
    color: #534C64;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 19.375rem;
    text-align: justify;
}
.card-container{
    position: relative;
}
.warior{
    width: 25rem;
    flex-grow: 1;
}
.baby-warior{
    width: 12rem;
    position: absolute;
    top: 1450px;
    right: 32%;
    flex-grow: 0;
}
/*game store section starts*/
.game-store{
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.store-container{
    display: flex;
    gap:8px;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 170px;
    height: 35px;
    border-radius: 35px;
    padding:2px;
}
.store-container:hover{
    border:1px solid #F948B2;
    color: #F948B2;
}
.store-container:hover .store-container{
    color: #F948B2;
}


.store-container img{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}
.store-container button{
    border: none;
    background: none;
    color: #0B0223;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
    padding: 0;
}

/*footer starts*/
footer{
    background: #0B0223;
    width: 100%;
    margin:0px auto;
    padding:60px 0;
}
.foot-1{
    margin:0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo-2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo-2 img,p{
    padding: 10px;
}
.amar{
    color:#FFF;
}
.foot-2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0x;
    color: #FFF;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin:0 300px;
}
.foot-3{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.foot-3 i{
    height:40px;
    width: 40px;
    font-size: 35px;
    padding:0 25px;
}


.foot-4{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin: 0 350px;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    gap:40px;
}
.foot-5{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 120px;
}















/*media query for mobile*/

@media screen and (max-width:576px) {
    header, .nav, .banner, .card-container, .play-instantly, footer, .game-store-row2, .game-store-row1{
        flex-direction: column;
    }
    header{
        width:90%;
    }
    .banner-content{
        width: 100%;
        padding: 50px;
        background-size:480px 500px ;
        background-repeat: no-repeat;
    }
    .banner-img img{
        height:350px;
        width:auto;
        margin-top: 40px;
    }
    .card-container{
        align-items: center;
    }
    .warior{
        width: 15rem;
        margin-left: 60px;
    }
    .baby-warior{
        width: 8rem;
        position: relative;
        top:300px;
        right: 0px;
    }
    .game-store{
        width: 80%;
        margin: 100px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
        gap:8px
    }
    .store-container{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        width: 130px;
        height: 20px;
        border-radius: 30px;
        margin:0px;
        padding: 0px;
    }
    .store-container img{
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        border-radius: 25px;
        
    }
    .store-container button{
        color: #0B0223;
    font-size: 8px;
    font-style: normal;
    font-weight: 150;
    line-height: normal;
    }
    .play-instantly-content{
        margin: 0px;
        text-align: center;
    }
    .play-instantly-para{
        text-align: center;
        margin-left: 0rem;
    }
    .foot-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40x;
        color: #FFF;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin:0 auto;
    }
    .foot-4{
        dsplay:grid;
        grid-template-columns: repeat(2,1fr);
        gap:0px;
        margin: 0 auto;
    }
    .game-store{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    
}










@media screen and (min-width:576px) and (max-width:992px) {
    .banner, .card-container, .play-instantly{
        flex-direction: column;
    }
    .nav{
        margin-top: 0px;
        margin-bottom: 0px;

    }
    .logo{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .banner-content{
        width: 100%;
        padding: 50px;
        background-size:480px 500px;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .banner-img img{
        height:500px;
        width:auto;
        margin-top: 40px;
    }
    .online-game{
        width: 80%;
    }
    .card-container{
        justify-content: center;
        gap:30px;
        margin: 0 auto;

    }
    .card-container .card{
        width:230px;
        height: auto;
    }
    .card-container .card img{
        width:230px;
    }
    .card-container{
        position: relative;
    }
    .warior{
        margin: 0 auto;
        width: 25rem;
        flex-grow: 1;
    }
    .baby-warior{
        width: 12rem;
        position: absolute;
        top: 3450px;
        left: 25%;
        flex-grow: 0;
    }
    .game-store{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    .card{
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .play-instantly{
        margin:0 150px;
    }
    .play-instantly-img{
        margin: 0 auto;
    }

}